/* Cards para productos */
.product__card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 195px;
    border-radius: 5px; 
    .product__card--img{
        width: 180px;
        margin-bottom: 10px;
        img{
            width: 100%;
            border-radius: 3px;
        }
    }
    @include Large{
        margin-left: 40px;
        margin-right: 40px;
    }
}

.product__card--text{
    text-align: center;
    h4{
        font-size: 13px;
    }
}

.product__card--btn{
    @include propiedadesGenerales(
        $colorTexto, 
        "", 
        2px 5px,
        5px, 
        "",
    );
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: white;
}

/*Section con submenu de combos*/

.submenu__card{
    position: relative;
    max-height: 400px;
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.45);
    @include Large{
        border-radius: 8px;
    }
    img{
        max-width: 100%;
        @include Large{
            border-radius: 8px;
        }
    }

}

.submenu__card--text{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    h3{
        position: relative;
        top: 25px;
        left: 25px;
        font-family: 'Koulen', cursive;
        font-size: 2em;
        letter-spacing: 3px;
        color: $colorTexto;
        @include Large{
            width: 95%;
        }
    }
    a{
        position: relative;
        top: 35px;
        left: 25px;
        padding: 5px 10px;
        font-weight: 400;
        border: solid 2px white;
        border-radius: 5px;
        box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.45);
        background-color: rgba($color: $colorTexto, $alpha: 0.4);
        &:hover{
            cursor: pointer;
        }
        &:active{
            color: $colorTexto;
        }
    } 
}

/* Tarjetas interactivas (como_ayudar.html)*/

.card__interactive{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 50px;
    border-radius: 50px 50px 150px 150px;
    background: white;
    box-shadow:  20px 20px 58px #c1c1c1,
                -20px -20px 58px #ffffff;
    &:hover .img1{
        transform: rotateY(180deg);
        opacity: 0;
    }
    &:hover .img2{
        opacity: 1;
    }    
    &:hover .card__text1{
        transform: translateY(150px);
        opacity: 0;
    }    
    &:hover .card__text2{
        transform: translateY(40px);
        opacity: 1;
    }
}

.card__text1{
    position: absolute;
    top: 20px;
    left: 25px;
    width: 250px;
    height: 100px;
    transition: transform 1.3s, opacity 0.5s;
    opacity: 1;
}

.card__text2{
    position: absolute;
    top: -20px;
    left: 25px;
    width: 250px;
    height: 100px;
    transition: transform 0.9s, opacity 0.5s;
    opacity: 0;
}

.card__img{
    position: absolute;
    bottom: 50px;
    left: 50px;
    transition: all 0.9s;
    width: 200px;
    border-radius: 50px 50px 150px 150px;
    background: white;
    box-shadow:  20px 20px 28px #c1c1c1,
                -20px -20px 28px #ffffff;
    img{
        max-width: 100%;
        max-height: 100%;
    }

}

.img1{
    opacity: 1;
    border: solid 2px red;
    border-radius: 50%;
    overflow: hidden;

}

.img2{
    opacity: 0;
    border: solid 3px $colorTexto;
    border-radius: 50%;
    overflow: hidden;
}