/* Mixim para trabajar con propiedades basicas */
@mixin propiedadesGenerales ($bg-color, $margin, $padding, $bd-radius, $bd-shadow){
    background-color: $bg-color;
    margin: $margin;
    padding: $padding;
    border-radius: $bd-radius;
    box-shadow: $bd-shadow;
    
}

/* Mixim para trabajar mejor con media querie */
@mixin Large{
    @media (min-width: 992px){
        @content;
    }
}