*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    




    font-family: 'roboto', sans-serif;

}



a{
    text-decoration: none;
    color: black
}

/*
body{
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}*/

/* --- HEADER --- */
header{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.topEstructure{
    display: flex;
    height: 200px;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}


.logo{
    width: 20%;
}

.logo img{
    width: 100%;
}

.searchBar input{
    width: 20vw;
    height: 20px;
}

.UI{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.UI__btn{
    display: inline-block;
    width: 80px;
    padding: 0px 10px 0px 10px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    border: solid 1px black;
    border-radius: 2px;
    font-size: 1.1em;
}

.UI__btn:hover{
    cursor: pointer;
    background-color: #46A5A5;
    box-shadow: 1px 1px 4px #000000;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

.nav__item{
    display: inline-block;
    width: 150px;
    margin: 0px;
    padding: 0px 10px 0px 10px;
    text-align: center;
    background-color: #46A5A5;
    border: solid 1px black;
    border-radius: 2px;
    font-size: 1.1em;
}

ul li{
    color: white;
}

ul{
    list-style-type: none;
}

/* --- MAIN --- */

main{
    width: 60%;
}

.wrapper{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-bottom: 40px;
}

.principal img{
    width: 100%;
}

/* --- MAIN: PRODUCTOS --- */

.productos{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    padding-bottom: 10%;
    
}

.card{
    width: 300px;
    height: 400px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    border: solid 1px #000000;
    margin: 0px 30px 30px 30px;
}

.card__img{
    width: 100%;
    overflow: hidden;
}

.card__text{
    text-align: center;
}

.card__btn{
    align-self: center;
}

/* --- MAIN: NOSOTOROS ---*/

h2{
    text-align: center;
    padding-bottom: 30px;
    color: #46A5A5;
    text-decoration-line: overline;
}

.nosotros__text{
    text-align: center;
    font-size: 1.2em;
    min-width: 320px;
    line-height: 35px;
    padding-bottom: 20px;
}

.nosotros__img img{
    width: 100%;
    min-width: 320px;
    padding-bottom: 30px;
}

/* --- MAIN: COMO AYUDAR --- */

.articulo{
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

.articulo img{
    min-width: 320px;
    width: 25%;
    border: solid 1px #000000;
}

.articulo p{
    width: 25%;
    text-align: center;
}

.articulo2{
    flex-direction: row;
}

.articulo3{
    flex-direction: row-reverse;
}

/* --- MAIN: CONTACTO --- */

.contactWrapper{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #46A5A5;
    margin-bottom: 30px;
}
    
.sideImg{
    width: 50%;
    min-width: 320px;
    padding-bottom: 10px;
}

.sideImg img{
    height: 100%;
    border: solid 5px #46A5A5;
}

.formWrapper{
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 30px 0px 30px 30px;
    background-color: #46A5A5;
}

form label{
    display: block;
    color: white;
    background-image: linear-gradient(to right, #46A5A5, #56caca);
    margin-bottom: 5px;
    font-weight: 600;
}

.form__inputs{
    margin-bottom: 30px;
}

.form__inputs input{
    height: 20px;
}


form .UI__btn{
    font-size: 1em;
}

form .UI__btn:hover{
    background-color: #A3D371;
}


/* --- FOOTER --- */
footer{
    width: 100%;
    height: 150px;
    align-self: flex-end;
    background-color: #A3D371;
}

.socialMedia h5{
    padding: 10px;
    font-size: 1em;
}

.socialMedia ul li{
    display: inline-block;
    padding: 10px 5px 10px 10px ;
}







