*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --color1: #15434B;
    --color2: #46A5A5;
    --color3: #8CDECC;
    --color4: #b3f1ce;
    --color5: #EEF2E4;
    --color6: #A3D371;
    --color7: #fffaea;
    --color8: #2893A1;
    --color9: #abe6c4;
    --solidBorder: solid 1px #000000;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

.bg__color{
    background-image:linear-gradient(to bottom, var(--color5), var(--color4)) ;
}


h2{
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 15px;
}

.img__box{
    height: 300px;
}

.navbar-nav {
    padding-left: 5px;
}
/* --- HEADER --- */

h4{
    font-size: 1em;
    color: white;
}

.medios__pago{
    padding: 5px;
    background-color: var(--color9);
}

.bd__section{
    margin: 10px 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.45);
}

a{
    text-decoration: none;
    color: white;
    text-decoration: none;
}


/* (INDEX/MAIN) CARROUCEL */

.main__img{
    width: 100%;
    background-image: linear-gradient(to bottom, var(--color5), var(--color3));
    display: flex;
    justify-content: center;
}

/* (INDEX/MAIN) CARD */

/*
.main__card--position{

}*/

.main__card--container{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.main__card--text{
    position: absolute;
    top: 9px;
    width: 300px;
    height: 0%;
    text-align: center;
    line-height: 25px;
    color: white;
    opacity: 0;
    transition: all 0.5s;
}

.main__card--container:hover > .main__card--text{
    height: 300px;
    opacity: 1;
    background-color: #15434ba8;
}

.bd-card{
    border: solid 1px #000000;
}


.carousel-item{
    max-height: 500px;
}
/* --- (NOSOTROS) MAIN  ---*/

.nosotros__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.nosotros__text{
    text-align: center;
    font-size: 1em;
    max-width: 300px;
    line-height: 25px;
    padding-bottom: 20px;
}

h3{
    color: var(--color2);
    font-size: 1.3em;
    margin-bottom: 15px;
    
}

.nosotros__img img{
    width: 100%;
    min-width: 320px;
    padding-bottom: 30px;
}

/* --- (COMO AYUDAR) MAIN --- */


.card__container{
    width: 300px;
    height: 300px;
    position: relative;
    margin: 10px 10px;
    
}

.card__img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s;
    z-index: 1;
}

.img1{
    opacity: 1;
    border: solid 1px red;
    border-radius: 5px;
}

.img2{
    opacity: 0;
    border: solid 2px var(--color6);
    border-radius: 5px;
}

.card__container:hover .img1{
    transform: rotateY(180deg);
    opacity: 0;
}

.card__container:hover .img2{
    opacity: 1;
}



/* --- (CONTACT) FORM --- */

.bd-form{
    background-image: linear-gradient(to right, var(--color2), var(--color4));
    border-radius: 5px;
}

form label{
    color: white;
    margin: 10px 0px 5px 2px;
}

.form__btn{
    font-size: 0.9rem;
    letter-spacing: 1px;
    padding: 2px 10px 2px 10px;
    background-color: var(--color2);
    color: white;
    border: solid 1px #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 16px -5px #000000;
}

.form__btn:hover{
    box-shadow: -4px 0px 16px -5px #ffffff;
    transform: translate(1px,-1px);
}


/* --- FOOTER --- */
footer{
    position: relative;
    bottom: 0;
    background-image: linear-gradient(to bottom, var(--color2), var(--color4));
}

footer a{
    padding: 10px 10px 10px 0px;
}


@media screen and (max-width: 1280px){

    h2{
        font-size: 1.5em;
    }

    header{
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .header__top{
        margin-bottom: 0px;
    }

    .nav{
        align-items: center;
        padding-top: 10px;
        border-bottom: solid 1px #000000;
        background-image: linear-gradient(to bottom, var(--color4), var(--color3));
    }

    .nav__item{
        display: inline-block;
        padding: 2px 10px 2px 10px;
        margin-top: 0px;
        margin-bottom: 8px;
        width: 175px;
    }

    .main__info{
        padding: 20px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .main__info h4{
        border-bottom: none;
    }

    .main__info i{
        padding-right: 10px;
        border-right: solid 1px var(--color1);
    }
    .main__info h4:nth-child(1){
        border-right: solid 1px var(--color1);
        padding-right: 20px;
        border-bottom: none;
    }

    .main__info i:nth-child(7){
        border-right: none;
    }

    .main__card{
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .main__card--img{
        margin: 0px 20px 0px 20px;
    }

    .main__card--img:hover{
        box-shadow: 0px 1px 9px 2px rgba(0,0,0,0.4);
    }

    .main__products--container{
        display: flex;
        flex-flow: row;
    }

    .products__card{
        margin: 0px 20px 0px 20px;
    }
    
    .nosotros__text{
        max-width: 80%;
    }

    .main__card--container{
        flex-flow: row wrap;
        justify-content: center;
    }

    .card__container{
        margin: 15px;
    }

}







