*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --color1: #15434B;
    --color2: #46A5A5;
    --color3: #8CDECC;
    --color4: #DAEEEF;
    --color5: #EEF2E4;
    --color6: #A3D371;
    --color7: #10753B;
}

body{
    font-family: 'roboto', sans-serif;
    min-height: 100vh;
}

.grid__principal{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto 150px;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

/* --- HEADER --- */

header{
    grid-area: header;
    width: 100%;
    max-height: max-content;
    display: flex;
    flex-direction: column;
}

.header__top{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    background-image: linear-gradient(to bottom, var(--color5), var(--color4));
    margin-bottom: 5px;
}

.logo{
    height: 50px;
    padding: 0px 4px 0px 4px;
    order: 2;
}   

.logo img{
    width: 100%;
    height: 100%;
}

.header__btn--buscador{
    width: 50px;
    height: 50px;
    order: 1;
}

.header__btn--carrito{
    width: 50px;
    height: 50px;
    order: 3;
}

.nav{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.nav__item{
    display: block;
    margin-bottom: 2px;
    text-align: center;
    background-color: var(--color2);
    border: solid 1px black;
    border-radius: 2px;
    font-size: 1.1em;
}


a{
    text-decoration: none;
    color: white;
    text-decoration: none;
}

/* --- (INDEX) MAIN --- */

main{
    grid-area: main;
    width: 100%;
}

.main__container{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

}

.main__img{
    width: 100%;
    background-image: linear-gradient(to bottom, var(--color5), var(--color3));
    display: flex;
    justify-content: center;
}

.main__img img{
    max-width: 320px;
}

.main__info{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
    border-top: solid 1px var(--color1);
    border-bottom: solid 1px var(--color1);
}

.main__info h4{
    padding: 5px;
    margin: 5px;
    border-bottom: dashed 1px var(--color1);
    color: var(--color2);
}

.main__info h4:nth-child(1){
    border-bottom: solid 1px var(--color1);
}

.main__info h4:nth-child(6){
    border: none;
}

.main__info i{
    padding-top: 11px;
    color: var(--color2);
}

.main__card{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.main__card h4{
    padding: 5px;
    margin: 15px 5px 5px 5px;
    border-bottom: solid 1px var(--color1);
    color: var(--color2);
}

.main__card--container{
    margin-bottom: 20px;
}

.main__card--img{
    width: 100%;
    height: 300px;
    position: relative;
    
    
}

.main__card--img img{
    max-width: 320px;
    
}

.main__card--text{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    padding-top: 100px;
    text-align: center;
    font-size: 0em;
    line-height: 25px;
    color: rgba(255, 255, 255, 0);
    transition: height .8s, color 1s, background-color 0.5s;
}

.main__card--img:hover > .main__card--text{
    height: 100%;
    width: 100%;
    color: rgba(255, 255, 255);
    font-size: 1.2em;
    background-color: #15434ba8;
}



/* --- MAIN: PRODUCTOS --- */

.productos{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    padding-bottom: 10%;
    
}

.card{
    width: 300px;
    height: 400px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    border: solid 1px #000000;
    margin: 0px 30px 30px 30px;
}

.card__img{
    width: 100%;
    overflow: hidden;
}

.card__text{
    text-align: center;
}

.card__btn{
    align-self: center;
}

/* --- MAIN: NOSOTOROS ---*/

h2{
    text-align: center;
    padding-bottom: 15px;
    color: #46A5A5;
    text-decoration-line: overline;
}

.nosotros__text{
    text-align: center;
    font-size: 1.2em;
    min-width: 320px;
    line-height: 35px;
    padding-bottom: 20px;
}

.nosotros__img img{
    width: 100%;
    min-width: 320px;
    padding-bottom: 30px;
}

/* --- MAIN: COMO AYUDAR --- */

.articulo{
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

.articulo img{
    min-width: 320px;
    width: 25%;
    border: solid 1px #000000;
}

.articulo p{
    width: 25%;
    text-align: center;
}

.articulo2{
    flex-direction: row;
}

.articulo3{
    flex-direction: row-reverse;
}

/* --- MAIN: CONTACTO --- */

.contactWrapper{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #46A5A5;
    margin-bottom: 30px;
}
    
.sideImg{
    width: 50%;
    min-width: 320px;
    padding-bottom: 10px;
}

.sideImg img{
    height: 100%;
    border: solid 5px #46A5A5;
}

.formWrapper{
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 30px 0px 30px 30px;
    background-color: #46A5A5;
}

form label{
    display: block;
    color: white;
    background-image: linear-gradient(to right, #46A5A5, #56caca);
    margin-bottom: 5px;
    font-weight: 600;
}

.form__inputs{
    margin-bottom: 30px;
}

.form__inputs input{
    height: 20px;
}


form .UI__btn{
    font-size: 1em;
}

form .UI__btn:hover{
    background-color: #A3D371;
}


/* --- FOOTER --- */
footer{
    grid-area: footer;
    width: 100%;
    margin-top: 30px;
    position: relative;
    bottom: 0;
    background-image: linear-gradient(to bottom, var(--color6), var(--color4));
}

.footer__rrss{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

.footer__rrss h6{
    padding: 10px 0px 10px 0px;
}

.footer__rrss ul li{
    display: inline-block;
    list-style: none;
    padding: 10px;
}







